@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";

.catalog {
    @include adaptiveValue("padding-top", 60, 40, 320, 1440, 1);
    @include adaptiveValue("padding-bottom", 60, 40, 320, 1440, 1);

    // .catalog__title

    &__title {
        color: #282A30;
        @include adaptiveValue("font-size", 40, 36);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        margin-bottom: toRem(18);

        strong {
            color: #28553F;
            font-weight: 400;
        }

        &::after {
            content: '';
            position: absolute;
            background: #28553F;
            width: toRem(120);
            height: 1px;
            top: toRem(-9);
            left: 0%;
        }

        &.product-title {
            margin-bottom: toRem(0);

            @media (max-width: $mobile) {
                font-size: toRem(34)
            }
        }
    }

    // .catalog__info

    &__info {
        padding: toRem(18) 0;
        border-top: toRem(1) solid #E5E5E5;
        border-bottom: toRem(1) solid #E5E5E5;
        display: flex;
        justify-content: space-between;
        column-gap: toRem(20);
        row-gap: toRem(10);
        flex-wrap: wrap;

        @include adaptiveValue("margin-bottom", 50, 30);

        @media (max-width: 670px) {
            flex-direction: column;
            row-gap: toRem(10);

        }

    }

    // .catalog__item

    &__item {
        display: flex;
        column-gap: toRem(38);

        @media (max-width: 670px) {
            flex-direction: column;
            row-gap: toRem(10);

        }
    }

    // .catalog__bread

    &__bread {
        color: #9C9C9C;
        font-size: toRem(16);
        display: flex;
        column-gap: toRem(2);
        align-items: center;

        strong {
            color: #28553F;
            font-weight: 400;
        }
    }

    // .catalog__detail

    &__detail {
        color: #9C9C9C;
        font-size: toRem(16);
        display: flex;
        column-gap: toRem(7);
        align-items: center;

        strong {
            color: #28553F;
            font-weight: 400;
        }
    }

    &__button {
        display: none;
        color: #FFF;
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        button {
            background: #28553F;
            padding: toRem(7) toRem(15);
        }

        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__cover {
        position: relative;
        display: flex;
        column-gap: toRem(30);


        @media (max-width: $tablet) {
            column-gap: toRem(0);

        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(30);
        margin: 0 toRem(-15);
        height: fit-content;
        flex: 1 1 100%;
    }

    &__menu {
        flex: 0 1 22.5%;

        @media (max-width: 1100px) {
            flex-basis: 20%;
        }

        @media (max-width: $tablet) {
            flex-basis: 0%;
        }
    }


}

.wrapper {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100vh;
        background-color: #00000091;
        top: 0;
        left: 0;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    &.open {
        &::after {
            transform: translateX(0%);

            @media (min-width:$tablet) {
                transform: translateX(-100%);

            }
        }
    }
}

.custom-select {
    position: relative;
    display: inline-block;
}

select {
    display: none;
}

.select-selected {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.select-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}