@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";

.advantages {
    @include adaptiveValue("padding-top", 70, 40, 320, 1440, 1);
    @include adaptiveValue("padding-bottom", 80, 60, 320, 1440, 1);

    // .advantages__container

    &__container {}

    // .advantages__title

    &__title {
        display: block;
        max-width: toRem(400);
        @include adaptiveValue("margin-bottom", 40, 20, 320, 1400, 1);
        margin-left: auto;
        margin-right: auto;
        color: #282A30;
        text-align: center;
        @include adaptiveValue("font-size", 40, 36);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        position: relative;

        strong {
            color: #28553F;
            font-weight: 400;
        }

        &::after {
            content: '';
            position: absolute;
            background: #28553F;
            width: toRem(120);
            height: 1px;
            top: toRem(-9);
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: $tablet) {
            margin-bottom: 0;
        }
    }

    // .advantages__cover

    &__cover {
        display: flex;
        position: relative;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
            @include adaptiveValue("row-gap", 70, 30, 320, 991.8, 1);
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: url('../../../images/benefits/decor.png') 0% / contain no-repeat;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-23.2%, -50%);



            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    // .advantages__left

    &__left {
        flex: 0 1 33.6%;
        display: flex;
        flex-direction: column;
        row-gap: toRem(100);
        margin-top: toRem(46);

        @media (max-width: $tablet) {
            @include adaptiveValue("padding-left", 50, 0, 320, 991.8, 1);
            @include adaptiveValue("padding-right", 50, 0, 320, 991.8, 1);
            @include adaptiveValue("row-gap", 100, 50, 320, 991.8, 1);
        }
    }

    // .advantages__middle

    &__middle {
        flex: 0 1 29.5%;


    }

    // .advantages__image

    &__image {
        position: relative;
        padding: 0 0 155% 0;

        @media (max-width: $tablet) {
            padding: 0 0 80% 0;
            @include adaptiveValue("width", 700, 50, 320, 991.8, 1);
            margin: 0 auto;
        }

        @media (max-width: 500px) {
            padding: 0 0 125% 0;

        }


        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    // .advantages__right

    &__right {
        flex: 0 1 33.6%;
        display: flex;
        flex-direction: column;
        row-gap: toRem(100);
        margin-top: toRem(46);
        text-align: right;

        @media (max-width: $tablet) {
            @include adaptiveValue("padding-left", 50, 0, 320, 991.8, 1);
            @include adaptiveValue("padding-right", 50, 0, 320, 991.8, 1);
            @include adaptiveValue("row-gap", 100, 50, 320, 991.8, 1);

            margin-top: toRem(0);
        
        }
    }

    &__arrow-left {}
}

.text {
    color: #282A30;
    font-size: toRem(20);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: relative;

    @media (max-width: $tablet) {
        @include adaptiveValue("font-size", 30, 20, 320, 991.8, 1);
    }

    &::after {
        content: '';
        position: absolute;
        @include adaptiveValue("width", 380, 0, 992, 1340, 1);
        height: 1px;
        background-color: #28553F;
        bottom: -25%;
        left: toRem(25);

        @media (max-width: $tablet) {
            bottom: -50%;
            @include adaptiveValue("width", 800, -50, 320, 991.8, 1);

        }
    }

    &.middle {
        &::after {
            @include adaptiveValue("width", 310, 0, 992, 1340, 1);
            @media (max-width: $tablet) {
                @include adaptiveValue("width", 800, -50, 320, 991.8, 1);
    
            }

        }

        &.right {
            &::after {
                @include adaptiveValue("left", 95, 0, 992, 1340, 1);

                @media (max-width: $tablet) {
                   left: 5%;
                }
            }
        }
    }

    &::before {
        content: '01';
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: toRem(46);
        height: toRem(46);
        background-color: #28553F;
        bottom: -70%;
        border-radius: 50%;
        right: toRem(0);
        z-index: 2;

        color: #FFF;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            bottom: -80%;


        }
    }

    &.second {
        &::before {
            content: '02';
            @include adaptiveValue("right", 60, -20, 992, 1340, 1);

            @media (max-width: $tablet) {
                right: 0;
    
    
            }
        }
    }

    &.third {
        &::before {
            content: '03';
            right: toRem(0);

        }
    }

    &.fourth {
        &::before {
            content: '04';
            left: toRem(0);

        }
    }

    &.fifth {
        &::before {
            @include adaptiveValue("left", 60, -20, 992, 1340, 1);

            content: '05';


            @media (max-width: $tablet) {
                left: 0;
    
            }

        }
    }

    &.sixth {
        &::before {
            content: '06';
            left: toRem(0);

        }
    }


}