@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";

.product__amount {
    display: flex;
    column-gap: toRem(23);
    margin-bottom: toRem(30);
    align-items: center;



    span {
        color: #282A30;
        font-size: toRem(17);

    }

   
}

.product__input {
    width: toRem(54);
    height: toRem(43);
    background: #FFF;
    outline: none;
    padding: toRem(5.5) toRem(20) toRem(5.5) toRem(16);
    color: #424551;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: toRem(21);
    line-height: 150%;
    transition: all 0.3s ease-out;

    &:focus,
    &.wide {
        width: toRem(64);
    }

}

.product__input-cover {
    border: 1px solid #D7DADD;
    position: relative;

}

.product__up-triangle {
    position: absolute;
    top: 6%;
    right: 5%;
    cursor: pointer;

}

.product__down-triangle {
    position: absolute;
    bottom: 6%;
    right: 5%;
    transform: rotate(180deg);
    cursor: pointer;

}