@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";

.inspiration {
    @include adaptiveValue("padding-top", 60, 40, 320, 1440, 1);
    @include adaptiveValue("padding-bottom", 100, 60, 320, 1440, 1);
    // .inspiration__title

    &__title {
        color: #282A30;
        @include adaptiveValue("font-size", 40, 36);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        @include adaptiveValue("margin-bottom", 40, 30, 320, 1400, 1);

        strong {
            color: #28553F;
            font-weight: 400;
        }

        &::after {
            content: '';
            position: absolute;
            background: #28553F;
            width: toRem(120);
            height: 1px;
            top: toRem(-9);
            left: 0%;
        }
    }

    // .inspiration__cover

    &__cover {
        display: flex;
        gap: toRem(20);

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    // .inspiration__left

    &__left {}

    // .inspiration__right

    &__right {}
}

.left-inspiration {
    flex: 0 1;
    @include adaptiveValue("flex-basis", 500, 400, 992, 1440, 1);

    @media (max-width: 480px) {
        flex-basis: auto;
    }

    // .left-inspiration__image

    &__image {
        position: relative;
        padding: 0px 0px 191.5% 0px;

        @media (max-width: $tablet) {
            padding: 0px 0px 100.5% 0px;
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }
}

.right-inspiration {
    display: flex;
    gap: toRem(20);
    flex-wrap: wrap;
    flex: 1 1 55%;

    @media (max-width: 540px) {
        flex-direction: column;
    }

    // .right-inspiration__image

    &__image {
        flex: 0 1 48%;
        position: relative;
        padding: 0px 0px 5% 0px;

        @media (max-width: $tablet) {
            padding: 0px 0px 60.5% 0px;
        }

        @media (max-width: 540px) {
            padding: 0px 0px 80.5% 0px;
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }
}

.inspiration {
    &__watch-all {
        display: flex;
        margin-top: toRem(20);
        justify-content: flex-end;

        a {
            background-color: #28553F;
            color: #FFF;
            font-size: toRem(18);
            line-height: 288.889%;
            padding: 0 toRem(28);
            display: block;
        }

        span {
            margin-right: toRem(10);
        }

        svg {
            width: toRem(30);
        }
    }
}