@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";

.hero-swiper {
    &__image {
        margin: 0 0 0 auto;
        position: relative;
        @include adaptiveValue("width", 1500, 310, 1440, 2560, 1);
        @include adaptiveValue("padding-bottom", 703, 480, 1440, 2560, 1);

        @media (max-width: $tablet) {
            width: 100%;
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }
}

.hero-swiper .swiper-button-prev {
    background-color: #28553F;
    width: 45px;
    height: 45px;
}

.hero-swiper .swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 1;
    transform: scale(1);
    margin: 0px 9px !important;
}

.hero-swiper .swiper-pagination-bullet-active {
    background-color: #28553F;
    transform: scale(1);
}

.hero-swiper .swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    transform: translate(0);
    @include adaptiveValue("left", 560, -700, 1440, 2560, 1);

    @media (max-width: 1440px) {
        @include adaptiveValue("left", 0, -30, 992, 1440, 1);
    }

    @media (max-width: $tablet) {
        display: none;
    }
}

.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main,
.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next,
.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
    left: 0px !important;
}

.hero-swiper {
    // .hero-swiper__nav-cover

    &__nav-cover {
        position: absolute;
        bottom: 10%;
        @include adaptiveValue("left", 630, -640, 1440, 2560, 1);
        z-index: 3;
        width: toRem(100);
        height: toRem(45);
        display: flex;
        column-gap: toRem(7);

        @media (max-width: 1440px) {
            @include adaptiveValue("left", 80, -10, 992, 1440, 1);
        }

        @media (max-width: $tablet) {
            bottom: 10px;
        }

        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__prev-element,
    &__next-element {
        flex: 1 1 100%;
        position: relative;
        background-color: #28553F;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-30%, -50%);
        }

        &.swiper-button-disabled {
            border: 1px solid #FFF;
            background-color: transparent;
        }
    }

    &__next-element {
        transform: rotate(180deg);
    }
}