@use "sass:math";
@import "../../styles/base/mixins";
@import "../../styles/style";

.not-found {
    position: relative;
    // .not-found__container

    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .not-found__cover

    &__cover {}

    // .not-found__title

    &__title {
        color: #28553F;
        text-align: center;
        font-variant-numeric: lining-nums proportional-nums;
        @include adaptiveValue("font-size", 283, 150);
        text-transform: uppercase;
        margin-bottom: toRem(10);
    }

    // .not-found__text

    &__text {
        color: #282A30;
        text-align: center;
        @include adaptiveValue("font-size", 60, 30);
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: toRem(65);

    }

    // .not-found__link

    &__link {
        text-align: center;
        font-size: toRem(19);
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 auto;

        a {
            padding: toRem(17) toRem(60);
            background: #28553F;
            color: #FFF;
            transition: all 0.3s ease-out;
            border: 1px solid #28553F;

            &:hover {
                color: #28553F;
                background: #FFF;

            }
        }
    }
}