@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";

.menu {
  width: 18rem;
  background: #F9F9F9;

  @media (max-width: 1100px) {
    width: 15rem;
  }

  @media (max-width: $tablet) {
    border: 1px solid #28553F;
    position: absolute;
    top: 0;
    left: toRem(-350);
    z-index: 101;
    transition: left 0.5s ease-in;

    &.open {
      left: toRem(-15);
    }
  }

  @media (max-width: 400px) {
    left: toRem(-420);
    width: 110%;
  }

  // .menu__cover

  &__cover {
    padding: toRem(10) toRem(15) 0 toRem(15);

    @media (max-width: $tablet) {
      padding: toRem(10) toRem(15) 0 toRem(15);
    }
  }

}

.toggle-button {
  position: relative;
}

.toggle-button,
.spoiler {
  color: #9C9C9C;
}

.toggle-button.first {
  color: #9C9C9C;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 500;
  padding: toRem(20) 0;
}

.toggle-button.first.open {
  color: #28553F;

  &.line {
    border-bottom: toRem(1) solid #E5E5E5;
  }

  .spoiler__arrow {
    color: #28553F;
    transform: rotate(-90deg);
  }
}



.spoller {
  // .spoller__items

  &__items-second {
    border-bottom: toRem(1) solid #E5E5E5;
    text-align: left;
    padding: toRem(15) 0 toRem(15) toRem(25);
    display: flex;
    flex-direction: column;
    row-gap: toRem(12);
    align-items: flex-start;
  }
}

.toggle-button.second {
  color: #9C9C9C;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 500;
  padding: toRem(15) 0 toRem(15) toRem(10);
}

.spoiler-second.open {
  .toggle-button.second {
    color: #28553F;

    &.line {
      border-bottom: toRem(1) solid #E5E5E5;
    }
  }

  .spoiler__arrow {
    color: #28553F;
    transform: rotate(-90deg);
  }

  .spoller__items-second.line {
    border-bottom: toRem(1) solid #F9F9F9;
  }

}


.spoiler__arrow-second {
  position: absolute;
  left: -10%;
  top: -3%;
  color: #9c9c9c;
  transform: rotate(180deg);
}

.spoiler {
  padding: toRem(0) toRem(0) toRem(60) toRem(0);
  overflow: hidden;
  max-height: 0;

  &.open {
    padding: toRem(0) toRem(0) 0px toRem(0);
  }
}

.spoiler-second {
  padding: toRem(0) toRem(0) toRem(45) toRem(0);
}

.spoiler.open {
  max-height: 1000px;
}

.spoiler .toggle-button {
  text-align: left;
  width: 100%;
  border-bottom: toRem(1) solid #E5E5E5;

  cursor: pointer;

  &.line {
    border-bottom: toRem(1) solid #F9F9F9;
  }
}

.toggle-button.first,
.toggle-button.second,
.spoller__item {
  transition: color 0.1s ease-in;

  &:hover {
    color: #28553F;
  }

  &.clicked {
    color: #28553F;
  }
}

.spoller__item {
  width: 100%;
  text-align: left;
  position: relative;
  color: #9C9C9C;
  font-size: toRem(14);
  font-style: italic;
  font-weight: 500;
}

.spoiler__arrow {
  position: absolute;
  right: 0;
  top: 29%;
  color: #9c9c9c;
  transform: rotate(0deg);
}