@use "sass:math";
@import "../../../styles/base/mixins";
@import "../../../styles/style";


.description__info {
    position: relative;
    margin-bottom: toRem(60);

    @media (max-width: $mobile) {
        margin-bottom: toRem(40);


    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: toRem(4);
        background-color: #EDF3F3;
        top: toRem(50);
        left: 0%;
    }

    &::before {
        content: '';
        position: absolute;
        width: toRem(150);
        height: toRem(4);
        background-color: #28553F;
        top: toRem(50);
        left: 0%;
        z-index: 1;
    }

    button {
        color: #282A30;
        font-size: toRem(17);
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: toRem(50);

        & span {
            margin-right: toRem(5);
        }


    }

    .description__arrow {
        transition: transform 0.3s ease-out;
        transform: rotate(180deg);
    }

    &.open {

        .description__arrow {
            transform: rotate(90deg);
        }
    }

    span {
        color: #000;
        font-family: Raleway;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.characteristics-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    .description__info.open & {
        transition: max-height 0.5s ease-out;
        max-height: toRem(1000);
    }

    &__text {
        color: #000;
        line-height: 187.5%;
        max-width: 95%;

    }

}